@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');


* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-image: url("../images/WelcomingBackground.png"); 
  background-repeat: no-repeat;
  background-size: cover;
}

.textbubblelocation1 {
  cursor: pointer;
  top: 69%;
  position: absolute;
  left: 20%;
}

.bubbletext1 { 
  width: 100px;
  height: 95px;
  font-family: "Gideon Roman", serif;
  font-weight: bold;
  cursor: pointer;
}

.bubbletext2 {
  font-family: "Gideon Roman", serif;
  font-weight: bold;
  width: 100px;
  height: 95px;
  cursor: pointer;
}

.JourneyEmbarker {
  font-family: "Gideon Roman", serif;
  font-weight: bold;
  color: gold;
  font-size: 64px;
}

.textbubblelocation2 {
  cursor: pointer;
  position: absolute;
  top: 69%;
  right: 23%;
}

p, h1 {
  font-family: "Gideon Roman", serif;
  font-weight: bold;
}

