@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

.container {
  background-color: gray;
}

.WelcomeToolBar {
  background-color: gold;
}

.ProfilePictureImage, .SettingsImage {
  height: 50px;
  width: 50px;
}


p {
  font-family: "Gideon Roman", serif;
}