@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

.MainContainer {
    font-family: "Gideon Roman", serif;
    overflow: hidden;
    background-image: url("../../../public/images/RomanTest7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.SettingsIcon {
    background-image: url("../../../public/images/setShield.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
    top: 4%;
    left: 10%;
    position: absolute;
    cursor: pointer;
}

.LogoutButton {
    background-image: url("../../../public/images/LogoutExit.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
    top: 4%;
    left: 85%;
    position: absolute;
    cursor: pointer;
}

.MainBody {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.LeftArrow {
    background-image: url("../../../public/images/RightArrow.png");
    background-size: cover;
    cursor: pointer;
    transform: scaleX(-1);
    position: absolute;
    top: 42%;
    left: 6%;
    width: 150px;
    height: 110px;
}

.RightArrow {
    background-image: url("../../../images/RightArrow.png");
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 42%;
    right: 6%;
    width: 150px;
    height: 110px;

}

.ImageTitle {
    margin-top: 15px;
    color: gold;
    margin-bottom: 50px;
}

.SelectableImage {
    position: absolute;
    top: 37%;
    right: 36%;
    width: 420px;
    height: 380px;
}

.ImageDescription {
    width: 537px;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 33%;
    top: 86%;
}

.DefeatedAndForgivenessArea {
    font-family: "Gideon Roman", serif;
    visibility: hidden;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.DefeatedAndForgivenessTitle {
    position: absolute;
    top: 1%;
    left: 29%;
}

.DefeatedThoughts {
    width: 275px;
    height: 275px;
    transform: scaleX(-1);
    position: absolute;
    top: 7%;
    left: 38%;
    rotate: -25deg;
}

.DefeatedAndForgivenessText {
    position: absolute;
    top: 17%;
    right: 47%;
    rotate: -30deg;
    width: 209px;
}